/* SignupButton.css */
.signup-button {
    background: #28A19C;
    color: white;
    border-radius: 8px; /* Adjust the radius as needed */
    border: 1px solid #28A19C;
    padding: 10px 20px; /* Adjust the padding as needed */
    cursor: pointer;
    width: 115px;
    height: 38px;
    font-size: 16px;
    /* Add any other styles you need */
  }
  