/* FooterSection.css */

.footer-section {
    position: relative;
    height: 460px;
    top: 250px;
    background-color: white;
    width: 100%;
  }
  
  .footer-image {
    width: 266px;
    height: 59px;
    top: 100px;
    left: 100px;
    position: absolute; 
  }

  .footer-text {
    height: 161px;
    top: 100px;
    left: 508px;
    font-weight: 600;
    position: absolute; 
  }
  
  .main-text {
    font-family: Quicksand;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0.8657999634742737px;
    text-align: center;
    color: #28A19C; 
  }
  
  .additionalll-text {
    position: absolute;
    top: 50px; 
    font-size: 20px; 
    letter-spacing: 0.67px;
    color: #343434;
  }
  .additional2-text {
    position: absolute;
    top: 100px; 
    font-size: 20px; 
    letter-spacing: 0.67px;
    color: #343434;
  }

  .additional3-text {
    position: absolute;
    top: 150px; 
    font-size: 20px; 
    letter-spacing: 0.67px;
    color: #343434;
  }

  .footer2-text {
    height: 161px;
    top: 100px;
    left: 726px;
    font-weight: 600;
    position: absolute; 
  }

  .main-footer2-text {
    font-family: Quicksand;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0.8657999634742737px;
    text-align: center;
    color: #28A19C; 
  }
  .additional-footer2-text {
    position: absolute;
    top: 50px; 
    font-size: 20px; 
    letter-spacing: 0.67px;
    color: #343434;
  }
  .additional2-footer2-text {
    position: absolute;
    top: 100px; 
    font-size: 20px; 
    letter-spacing: 0.67px;
    color: #343434;
  }

  .additional3-footer2-text {
    position: absolute;
    top: 150px; 
    font-size: 20px; 
    letter-spacing: 0.67px;
    color: #343434;
  }

  .footer3-text {
    height: 161px;
    top: 100px;
    left: 1008px;
    font-weight: 600;
    position: absolute; 
  }

  .main-footer3-text {
    font-family: Quicksand;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0.8657999634742737px;
    text-align: center;
    color: #28A19C; 
  }
  .additional-footer3-text {
    position: absolute;
    top: 50px; 
    font-size: 20px; 
    letter-spacing: 0.67px;
    color: #343434;
    white-space: nowrap;
  }
  .additional2-footer3-text {
    position: absolute;
    top: 100px; 
    font-size: 20px; 
    letter-spacing: 0.67px;
    color: #343434;
    white-space: nowrap;
  }

  .text-subimage {
    height: 96px;
    top: 200px;
    left: 100px;
    position: absolute; 
    opacity: 0.75; 
    font-family: Quicksand;
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.43px;
    color: #343434; 
  }

  .facebook-icon {
    position: absolute;
    top: 335px;
    left: 100px;
    width: 23.16px;
    height: 25px;
    color: #28A19C;
  }
  
  .icon {
    width: 100%;
    height: 100%;
  }

  .twitter-icon {
    position: absolute;
    top: 335px;
    left: 148px;
    width: 23.16px;
    height: 25px;
    color: #28A19C;
  }
  
  .youtube-icon {
    position: absolute;
    top: 335px;
    left: 195.38px;
    width: 23.16px;
    height: 25px;
    color: #28A19C;
  }
  
  .linkdin-icon {
    position: absolute;
    top: 335px;
    left: 242.75px;
    width: 23.16px;
    height: 25px;
    color: #28A19C;
  }
  
  .whatapp-icon {
    position: absolute;
    top: 335px;
    left: 290px;
    width: 23.16px;
    height: 25px;
    color: #28A19C;
  }

  .parent-container {
    /* Assuming this is the parent container of your end-text div */
    position: relative;
    /* Add other styles as needed */
    top: 300px;
    left: 550px;
    width: 269px;
    height: 50px;
  }
  
  .end-text {
    position: absolute;
    top: 50%; /* Move the top of the div to the center of its parent */
    left: 50%; /* Move the left of the div to the center of its parent */
    transform: translate(-50%, -50%); /* Center the div precisely */
    width: 269px;
    height: 50px;
    opacity: 0.75;
    font-family: Quicksand;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 0.47px;
    color: #343434;
  }