.most-popular-certificate-section {
    height: 1000px;
    position: relative;
    top:240px ;
  }

  .certificate-text {
    width: 329px;
    height: 45px;
    top: 150px;
    left: 518px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.07px;
    color: #FFBA00;
    position: absolute;
  }

  .Secondary-text {
    width: 347px;
    height: 41px;
    top: 200px;
    left: 509px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.43px;
    text-align: center;
    color: #343434;
    position: absolute;
  }
  .back2-icon {
    color: #28A19C;
    width: 15px;
    height: 25px;
    top: 298px;
    left: 80px;
    position: absolute;
  }
  .front2-icon {
    color: #28A19C;
    width: 15px;
    height: 25px;
    top: 298px;
    left: 1271px;
    position: absolute;
  }

  .label-text {
    width: 281px;
    height: 24px;
    top: 298px;
    left: 134px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.73px;
    color: #343434;
    opacity: 0.75;
    position: absolute;
    white-space: nowrap;
  }

  .label2-text {
    width: 281px;
    height: 24px;
    top: 298px;
    left: 722px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.73px;
    color: #343434;
    opacity: 0.75;
    position: absolute;
    white-space: nowrap;
  }

  .label3-text {
    width: 281px;
    height: 24px;
    top: 298px;
    left: 1011px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.73px;
    color: #343434;
    opacity: 0.75;
    position: absolute;
    white-space: nowrap;
  }

  .custom-div {
    width: 220px;
    height: 60px;
    top: 279px;
    left: 462px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 10px;
  }

  .custom-div-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.73px;
    color: #28A19C;
    text-align: center;
    margin-top: 20px;
  }

  .view2-more-btn {
    width: 314px;
    height: 52px;
    top: 879px;
    left: 526px;
    background-color: #28A19C;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27.5px;
    letter-spacing: 0.21px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    outline: none;
  }

 