.most-popular-section {
    height: 600px;
    position: relative;
  }

  .most-popular-text {
    position: absolute;
    height: 41px;
    top: 150px;
    left: 571px;
    color: #FFBA00;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.07px;
  }
  .secondary-text {
    position: absolute;
    height: 40px;
    top: 200px;
    left: 571px;
    color: #343434;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.43px;
    text-align: center;
  }

  .icon-container {
    position: absolute;
    width: 21px;
    height: 35px;
    top: 454px;
    left: 80px;
    color: #28A19C;
  }
  
  .back-icon {
    width: 100%;
    height: 100%;
  }

  .icon2-container {
    position: absolute;
    width: 21px;
    height: 35px;
    top: 454px;
    left: 1265px;
    color: #28A19C;
  }
  
  