/* styles.css */
.TopSection {
    height: 641px;
    position: relative;
    background-color: white;
  }
  
  .TextContainer {
    position: absolute;
    top: 170px;
    left: 80px;
  }
  
  .Text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 60px;
  }
  
  .BlueText {
    color: #28A19C;
  }
  
  .YellowText {
    color: #FFBA00;
  }
  
  .AdditionalText {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #343434;
    position: absolute;
    top: 170px;
    left: 10px;
    opacity: 0.75;
  }

  .Image1 {
    position: absolute;
    top: 20px;
    left: 930.3px;
    width: 555.7px;
    height: 539.32px;
    
   
  }

  .Image2 {
    position: absolute;
    top: 20px;
    left: 990.17px;
    width: 520.83px;
    height: 482.95px;
  }