

.check-sentence {
    display: flex;
    align-items: center;
  }
  
  .check-icon {
    margin-right: 10px; 
  }
  
  .check-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.6px;
    color: #343434;
  }
  