
.div{
    background-color: white;
}
.content-section {
    height: 641px;
    background-color: white;
    margin-top: 20px;
  }
  .combined-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0; 
  }
  
  .left-section {
    text-align: center;
    width: 50%;
  }
  
  .main-text {
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    margin: 0; 
  }
  
  
  .right-section {
    width: 50%;
    text-align: right;
  }
  
  .success-image {
    width: 520.83px;
    height: 482.95px;
  }
  
  .text-subb{
    margin-right: 270px;
  }

  .section-text {
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.43px;
    color: #343434;
    white-space: pre-line;
    margin-top: 10px; 
    text-align: left; 
    display: flex; 
    flex-direction: column;
    margin-left: 122px;
    margin-bottom: 80px;
  }