.app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #ffff;
    height: 102px;
  }
  
  .app-bar-left {
    display: flex;
    align-items: center;
  }
  
  .app-bar-left img {
    margin-left: 80px;
    margin-top: 38px;
    width: 150px;
    height: 33px;
  }
  .app-bar-center {
    display: flex;
    align-items: center;
    
  }
  
  .shopping-cart {
    display: flex;
    align-items: center;
    margin: 0 20px; /* Adjust the margin as needed */
    color: #28a19c;
    margin-top: 38px;

  }
  
  .shopping-cart .icon {
    margin-right: 60px;
  }
  
  .login-text {
    color: #28a19c;
    font-size: 25px;
  }
  
  .app-bar-right {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  
  .app-bar-right .icon {
    margin-right: 0px;
  }
  
  .login-text {
    margin-right: 20px;
  }
  
  .app-bar-right button {
    margin-top: 38px;
  }
  