

.arrow-icon {
    width: 21px;
    height: 35px;
    color: #28A19C; 
    font-size: 24px; 
  }

  .content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; 
  }

  .arrow-margin{
    margin-left: 60px;
  }

  .arrow2-margin{
    margin-right: 60px;
  }