/* FirstTemplate.css */
.div{
    background-color: white;
}
.content-section {
    height: 641px;
    background-color: white;
    margin-top: 20px;
  }
  .combined-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0; /* Remove default padding */
  }
  
  .left-section {
    text-align: center;
    width: 50%;
  }
  
  .main-text {
    font-family: 'Quicksand';
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1.3333332538604736px;
    margin: 0; 
  }
  
  .success-text {
    color: #28A19C;

  }
  
  .sub2-text {
    color: #FFBA00;
  }
  
  
  .right-section {
    width: 50%;
    text-align: right;
  }
  
  .success-image {
    width: 520.83px;
    height: 482.95px;
  }
  
  .text-subb{
    margin-right: 260px;
  }

  .section-text {
    font-family: 'Quicksand';
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.43px;
    color: #343434;
    white-space: pre-line;
    margin-top: 10px; /* Adjust the margin to control space between sections */
    text-align: left; /* Ensure text starts from the left */
    display: flex; /* Allow lines to align properly */
    flex-direction: column; /* Arrange lines in a column */
    margin-left: 135px;
    margin-bottom: 80px;
  }