.sub3-text {
  font-family: "Quicksand", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.43333330750465393px;
    text-align: center;
    color: #343434;
  }